USE [Jig_system_control]
GO
/****** Object:  Table [dbo].[SparePartReceiptDetails]    Script Date: 17/10/2025 09:43:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SparePartReceiptDetails](
	[DetailID] [int] IDENTITY(1,1) NOT NULL,
	[ReceiptID] [int] NOT NULL,
	[RequestID] [int] NULL,
	[SpareID] [int] NOT NULL,
	[QtyReceived] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SparePartStocks]    Script Date: 17/10/2025 09:43:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SparePartStocks](
	[SpareID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Maker] [nvarchar](100) NULL,
	[Model] [nvarchar](50) NULL,
	[Unit] [nvarchar](20) NULL,
	[CurrentQty] [int] NULL,
	[Location] [nvarchar](50) NULL,
	[Remark] [nvarchar](255) NULL,
	[MinStock] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK__SparePar__8A23B00575E923AB] PRIMARY KEY CLUSTERED 
(
	[SpareID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__SparePar__A25C5AA73CBE98AA] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SparePartRequests]    Script Date: 17/10/2025 09:43:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SparePartRequests](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[SpareID] [int] NOT NULL,
	[RequestedBy] [nvarchar](100) NULL,
	[RequestDate] [datetime] NULL,
	[QtyRequested] [int] NOT NULL,
	[Status] [nvarchar](30) NULL,
	[Remark] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_SparePart_WaitingRequestStatus]    Script Date: 17/10/2025 09:43:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==================== VIEWS ====================

CREATE VIEW [dbo].[vw_SparePart_WaitingRequestStatus] AS
SELECT 
    s.SpareID,
    s.Code,
    s.Name,
    SUM(r.QtyRequested) AS TotalRequested,
    ISNULL(SUM(rd.QtyReceived), 0) AS TotalReceived,
    (SUM(r.QtyRequested) - ISNULL(SUM(rd.QtyReceived), 0)) AS QtyPending,
    COUNT(DISTINCT CASE WHEN r.Status <> 'Completed' THEN r.RequestID END) AS PendingRequestCount
FROM SparePartRequests r
INNER JOIN SparePartStocks s ON s.SpareID = r.SpareID
LEFT JOIN SparePartReceiptDetails rd ON rd.RequestID = r.RequestID
GROUP BY s.SpareID, s.Code, s.Name
HAVING (SUM(r.QtyRequested) - ISNULL(SUM(rd.QtyReceived), 0)) > 0;

GO
/****** Object:  Table [dbo].[SparePartApprovals]    Script Date: 17/10/2025 09:43:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SparePartApprovals](
	[ApprovalID] [int] IDENTITY(1,1) NOT NULL,
	[RequestID] [int] NOT NULL,
	[ApprovedBy] [nvarchar](100) NULL,
	[ApprovedDate] [datetime] NULL,
	[ApprovedQty] [int] NULL,
	[Remark] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ApprovalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_SparePart_PendingRequests]    Script Date: 17/10/2025 09:43:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[vw_SparePart_PendingRequests] AS
SELECT 
    r.RequestID,
	s.SpareID,
    t.Code,
    t.Name,
    r.ApprovedBy,
    r.ApprovedDate,
    r.ApprovedQty,
    ISNULL(SUM(rd.QtyReceived), 0) AS QtyReceived,
    (r.ApprovedQty - ISNULL(SUM(rd.QtyReceived), 0)) AS QtyPending,
    s.Status
FROM SparePartApprovals r
INNER JOIN SparePartRequests s ON s.RequestID = r.RequestID
INNER join SparePartStocks t on t.SpareID=s.SpareID
LEFT JOIN SparePartReceiptDetails rd ON rd.RequestID = r.RequestID
GROUP BY r.RequestID, t.Code, t.Name, r.ApprovedBy, r.ApprovedDate, r.ApprovedQty, s.Status,s.SpareID
HAVING (r.ApprovedQty - ISNULL(SUM(rd.QtyReceived), 0)) > 0;

GO
/****** Object:  Table [dbo].[Jig]    Script Date: 17/10/2025 09:43:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jig](
	[JigID] [int] IDENTITY(1,1) NOT NULL,
	[JigCode] [nvarchar](50) NOT NULL,
	[JigName] [nvarchar](100) NOT NULL,
	[Image] [nvarchar](255) NULL,
	[Version] [nvarchar](20) NULL,
	[Model] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[Range] [nvarchar](50) NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[Note] [nvarchar](500) NULL,
 CONSTRAINT [PK__Jig__59B73F022945F587] PRIMARY KEY CLUSTERED 
(
	[JigID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_JigCodeVersion] UNIQUE NONCLUSTERED 
(
	[JigCode] ASC,
	[Version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JigDocument]    Script Date: 17/10/2025 09:43:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JigDocument](
	[DocID] [int] IDENTITY(1,1) NOT NULL,
	[JigID] [int] NOT NULL,
	[DocType] [nvarchar](100) NULL,
	[FileName] [nvarchar](255) NULL,
	[FilePath] [nvarchar](255) NULL,
	[Version] [nvarchar](20) NULL,
	[Note] [nvarchar](255) NULL,
	[UploadDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JigDrawing]    Script Date: 17/10/2025 09:43:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JigDrawing](
	[DrawingID] [int] IDENTITY(1,1) NOT NULL,
	[JigID] [int] NOT NULL,
	[DrawingName] [nvarchar](100) NULL,
	[FileName] [nvarchar](255) NULL,
	[FilePath] [nvarchar](255) NULL,
	[Version] [nvarchar](20) NULL,
	[Note] [nvarchar](255) NULL,
	[UploadDate] [datetime] NULL,
 CONSTRAINT [PK__JigDrawi__987F0B02D0EE6C38] PRIMARY KEY CLUSTERED 
(
	[DrawingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JigMaintainChecklist]    Script Date: 17/10/2025 09:43:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JigMaintainChecklist](
	[ChecklistID] [int] IDENTITY(1,1) NOT NULL,
	[MaintainID] [int] NOT NULL,
	[MaintainItemID] [int] NOT NULL,
	[Result] [nvarchar](20) NULL,
	[Remark] [nvarchar](255) NULL,
	[SpareUsed] [nvarchar](255) NULL,
	[UpdatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ChecklistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JigMaintainHistory]    Script Date: 17/10/2025 09:43:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JigMaintainHistory](
	[MaintainID] [int] IDENTITY(1,1) NOT NULL,
	[JigID] [int] NOT NULL,
	[MaintainDate] [datetime] NULL,
	[Maintainer] [int] NULL,
	[Result] [nvarchar](50) NULL,
	[NextMaintainDate] [datetime] NULL,
	[Remark] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaintainID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JigPartList]    Script Date: 17/10/2025 09:43:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JigPartList](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[JigID] [int] NOT NULL,
	[SpareID] [int] NOT NULL,
	[Qty] [int] NULL,
	[Note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JigRepairHistory]    Script Date: 17/10/2025 09:43:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JigRepairHistory](
	[RepairID] [int] IDENTITY(1,1) NOT NULL,
	[JigID] [int] NOT NULL,
	[RepairDate] [datetime] NULL,
	[Problem] [nvarchar](255) NULL,
	[Action] [nvarchar](255) NULL,
	[Technician] [int] NULL,
	[FilePath] [nvarchar](255) NULL,
	[Status] [nvarchar](20) NULL,
	[Remark] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RepairID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JigRequest]    Script Date: 17/10/2025 09:43:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JigRequest](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[JigID] [int] NULL,
	[RequestType] [nvarchar](50) NULL,
	[RequestBy] [int] NULL,
	[RequestDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
	[Filename] [nvarchar](255) NULL,
	[FilePath] [nvarchar](255) NULL,
	[Status] [nvarchar](20) NULL,
	[Approver] [int] NULL,
	[ApproveDate] [datetime] NULL,
 CONSTRAINT [PK__JigReque__33A8519A91C4882B] PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintainItem]    Script Date: 17/10/2025 09:43:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintainItem](
	[MaintainItemID] [int] IDENTITY(1,1) NOT NULL,
	[JigType] [nvarchar](50) NULL,
	[ItemName] [nvarchar](255) NOT NULL,
	[ItemGroup] [nvarchar](50) NULL,
	[Frequency] [nvarchar](50) NULL,
	[Standard] [nvarchar](255) NULL,
	[Note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaintainItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintainSpareUsage]    Script Date: 17/10/2025 09:43:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintainSpareUsage](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaintainID] [int] NOT NULL,
	[SpareID] [int] NOT NULL,
	[QtyUsed] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RepairSpareUsage]    Script Date: 17/10/2025 09:43:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RepairSpareUsage](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RepairID] [int] NOT NULL,
	[SpareID] [int] NOT NULL,
	[QtyUsed] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SparePartReceipts]    Script Date: 17/10/2025 09:43:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SparePartReceipts](
	[ReceiptID] [int] IDENTITY(1,1) NOT NULL,
	[TotalQty] [int] NULL,
	[Remark] [nvarchar](200) NULL,
	[ReceiptDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReceiptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SparePartTransactions]    Script Date: 17/10/2025 09:43:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SparePartTransactions](
	[TranID] [int] IDENTITY(1,1) NOT NULL,
	[SpareID] [int] NOT NULL,
	[Type] [nvarchar](30) NULL,
	[Qty] [int] NULL,
	[RelatedID] [int] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TranID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SparePartUse]    Script Date: 17/10/2025 09:43:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SparePartUse](
	[UseID] [int] IDENTITY(1,1) NOT NULL,
	[SpareID] [int] NOT NULL,
	[RequestID] [int] NULL,
	[Qty] [int] NOT NULL,
	[IssuedTo] [nvarchar](100) NULL,
	[IssueDate] [datetime] NULL,
	[Remark] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[UseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAccount]    Script Date: 17/10/2025 09:43:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccount](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Role] [nvarchar](30) NULL,
	[Department] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Jig] ADD  CONSTRAINT [DF__Jig__Status__3E52440B]  DEFAULT (N'Running') FOR [Status]
GO
ALTER TABLE [dbo].[Jig] ADD  CONSTRAINT [DF__Jig__CreatedDate__3F466844]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[JigDocument] ADD  DEFAULT (getdate()) FOR [UploadDate]
GO
ALTER TABLE [dbo].[JigMaintainHistory] ADD  DEFAULT (getdate()) FOR [MaintainDate]
GO
ALTER TABLE [dbo].[JigPartList] ADD  DEFAULT ((1)) FOR [Qty]
GO
ALTER TABLE [dbo].[JigRepairHistory] ADD  DEFAULT (getdate()) FOR [RepairDate]
GO
ALTER TABLE [dbo].[JigRepairHistory] ADD  DEFAULT (N'Done') FOR [Status]
GO
ALTER TABLE [dbo].[JigRequest] ADD  CONSTRAINT [DF__JigReques__Reque__6EF57B66]  DEFAULT (getdate()) FOR [RequestDate]
GO
ALTER TABLE [dbo].[JigRequest] ADD  CONSTRAINT [DF__JigReques__Statu__6FE99F9F]  DEFAULT (N'Open') FOR [Status]
GO
ALTER TABLE [dbo].[MaintainSpareUsage] ADD  DEFAULT ((1)) FOR [QtyUsed]
GO
ALTER TABLE [dbo].[RepairSpareUsage] ADD  DEFAULT ((1)) FOR [QtyUsed]
GO
ALTER TABLE [dbo].[SparePartApprovals] ADD  DEFAULT (getdate()) FOR [ApprovedDate]
GO
ALTER TABLE [dbo].[SparePartReceipts] ADD  DEFAULT (getdate()) FOR [ReceiptDate]
GO
ALTER TABLE [dbo].[SparePartRequests] ADD  DEFAULT (getdate()) FOR [RequestDate]
GO
ALTER TABLE [dbo].[SparePartRequests] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[SparePartStocks] ADD  CONSTRAINT [DF__SparePart__Unit__4AB81AF0]  DEFAULT (N'pcs') FOR [Unit]
GO
ALTER TABLE [dbo].[SparePartStocks] ADD  CONSTRAINT [DF__SparePart__Stock__4BAC3F29]  DEFAULT ((0)) FOR [CurrentQty]
GO
ALTER TABLE [dbo].[SparePartStocks] ADD  CONSTRAINT [DF__SparePart__Locat__4CA06362]  DEFAULT (N'A1-1') FOR [Location]
GO
ALTER TABLE [dbo].[SparePartStocks] ADD  CONSTRAINT [DF__SparePart__IsVir__19DFD96B]  DEFAULT ((0)) FOR [MinStock]
GO
ALTER TABLE [dbo].[SparePartStocks] ADD  CONSTRAINT [DF__SparePart__Creat__3A4CA8FD]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[SparePartTransactions] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[SparePartUse] ADD  DEFAULT (getdate()) FOR [IssueDate]
GO
ALTER TABLE [dbo].[UserAccount] ADD  DEFAULT (N'User') FOR [Role]
GO
ALTER TABLE [dbo].[UserAccount] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserAccount] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Jig]  WITH CHECK ADD  CONSTRAINT [FK_Jig_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[UserAccount] ([UserID])
GO
ALTER TABLE [dbo].[Jig] CHECK CONSTRAINT [FK_Jig_CreatedBy]
GO
ALTER TABLE [dbo].[JigDocument]  WITH CHECK ADD  CONSTRAINT [FK_JigDocument_Jig] FOREIGN KEY([JigID])
REFERENCES [dbo].[Jig] ([JigID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JigDocument] CHECK CONSTRAINT [FK_JigDocument_Jig]
GO
ALTER TABLE [dbo].[JigDrawing]  WITH CHECK ADD  CONSTRAINT [FK_JigDrawing_Jig] FOREIGN KEY([JigID])
REFERENCES [dbo].[Jig] ([JigID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JigDrawing] CHECK CONSTRAINT [FK_JigDrawing_Jig]
GO
ALTER TABLE [dbo].[JigMaintainChecklist]  WITH CHECK ADD  CONSTRAINT [FK_Checklist_Item] FOREIGN KEY([MaintainItemID])
REFERENCES [dbo].[MaintainItem] ([MaintainItemID])
GO
ALTER TABLE [dbo].[JigMaintainChecklist] CHECK CONSTRAINT [FK_Checklist_Item]
GO
ALTER TABLE [dbo].[JigMaintainChecklist]  WITH CHECK ADD  CONSTRAINT [FK_Checklist_Maintain] FOREIGN KEY([MaintainID])
REFERENCES [dbo].[JigMaintainHistory] ([MaintainID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JigMaintainChecklist] CHECK CONSTRAINT [FK_Checklist_Maintain]
GO
ALTER TABLE [dbo].[JigMaintainChecklist]  WITH CHECK ADD  CONSTRAINT [FK_Checklist_User] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[UserAccount] ([UserID])
GO
ALTER TABLE [dbo].[JigMaintainChecklist] CHECK CONSTRAINT [FK_Checklist_User]
GO
ALTER TABLE [dbo].[JigMaintainHistory]  WITH CHECK ADD  CONSTRAINT [FK_JigMaintain_Jig] FOREIGN KEY([JigID])
REFERENCES [dbo].[Jig] ([JigID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JigMaintainHistory] CHECK CONSTRAINT [FK_JigMaintain_Jig]
GO
ALTER TABLE [dbo].[JigMaintainHistory]  WITH CHECK ADD  CONSTRAINT [FK_JigMaintain_User] FOREIGN KEY([Maintainer])
REFERENCES [dbo].[UserAccount] ([UserID])
GO
ALTER TABLE [dbo].[JigMaintainHistory] CHECK CONSTRAINT [FK_JigMaintain_User]
GO
ALTER TABLE [dbo].[JigPartList]  WITH CHECK ADD  CONSTRAINT [FK_JigPartList_Jig] FOREIGN KEY([JigID])
REFERENCES [dbo].[Jig] ([JigID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JigPartList] CHECK CONSTRAINT [FK_JigPartList_Jig]
GO
ALTER TABLE [dbo].[JigPartList]  WITH CHECK ADD  CONSTRAINT [FK_JigPartList_Spare] FOREIGN KEY([SpareID])
REFERENCES [dbo].[SparePartStocks] ([SpareID])
GO
ALTER TABLE [dbo].[JigPartList] CHECK CONSTRAINT [FK_JigPartList_Spare]
GO
ALTER TABLE [dbo].[JigRepairHistory]  WITH CHECK ADD  CONSTRAINT [FK_JigRepair_Jig] FOREIGN KEY([JigID])
REFERENCES [dbo].[Jig] ([JigID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JigRepairHistory] CHECK CONSTRAINT [FK_JigRepair_Jig]
GO
ALTER TABLE [dbo].[JigRepairHistory]  WITH CHECK ADD  CONSTRAINT [FK_JigRepair_User] FOREIGN KEY([Technician])
REFERENCES [dbo].[UserAccount] ([UserID])
GO
ALTER TABLE [dbo].[JigRepairHistory] CHECK CONSTRAINT [FK_JigRepair_User]
GO
ALTER TABLE [dbo].[JigRequest]  WITH CHECK ADD  CONSTRAINT [FK_JigRequest_Approver] FOREIGN KEY([Approver])
REFERENCES [dbo].[UserAccount] ([UserID])
GO
ALTER TABLE [dbo].[JigRequest] CHECK CONSTRAINT [FK_JigRequest_Approver]
GO
ALTER TABLE [dbo].[JigRequest]  WITH CHECK ADD  CONSTRAINT [FK_JigRequest_By] FOREIGN KEY([RequestBy])
REFERENCES [dbo].[UserAccount] ([UserID])
GO
ALTER TABLE [dbo].[JigRequest] CHECK CONSTRAINT [FK_JigRequest_By]
GO
ALTER TABLE [dbo].[JigRequest]  WITH CHECK ADD  CONSTRAINT [FK_JigRequest_Jig] FOREIGN KEY([JigID])
REFERENCES [dbo].[Jig] ([JigID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[JigRequest] CHECK CONSTRAINT [FK_JigRequest_Jig]
GO
ALTER TABLE [dbo].[MaintainSpareUsage]  WITH CHECK ADD  CONSTRAINT [FK_MaintainSpare_Maintain] FOREIGN KEY([MaintainID])
REFERENCES [dbo].[JigMaintainHistory] ([MaintainID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MaintainSpareUsage] CHECK CONSTRAINT [FK_MaintainSpare_Maintain]
GO
ALTER TABLE [dbo].[MaintainSpareUsage]  WITH CHECK ADD  CONSTRAINT [FK_MaintainSpare_Spare] FOREIGN KEY([SpareID])
REFERENCES [dbo].[SparePartStocks] ([SpareID])
GO
ALTER TABLE [dbo].[MaintainSpareUsage] CHECK CONSTRAINT [FK_MaintainSpare_Spare]
GO
ALTER TABLE [dbo].[RepairSpareUsage]  WITH CHECK ADD  CONSTRAINT [FK_RepairSpare_Repair] FOREIGN KEY([RepairID])
REFERENCES [dbo].[JigRepairHistory] ([RepairID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RepairSpareUsage] CHECK CONSTRAINT [FK_RepairSpare_Repair]
GO
ALTER TABLE [dbo].[RepairSpareUsage]  WITH CHECK ADD  CONSTRAINT [FK_RepairSpare_Spare] FOREIGN KEY([SpareID])
REFERENCES [dbo].[SparePartStocks] ([SpareID])
GO
ALTER TABLE [dbo].[RepairSpareUsage] CHECK CONSTRAINT [FK_RepairSpare_Spare]
GO
ALTER TABLE [dbo].[SparePartApprovals]  WITH CHECK ADD  CONSTRAINT [FK_App_Request] FOREIGN KEY([RequestID])
REFERENCES [dbo].[SparePartRequests] ([RequestID])
GO
ALTER TABLE [dbo].[SparePartApprovals] CHECK CONSTRAINT [FK_App_Request]
GO
ALTER TABLE [dbo].[SparePartReceiptDetails]  WITH CHECK ADD  CONSTRAINT [FK_Rd_Receipt] FOREIGN KEY([ReceiptID])
REFERENCES [dbo].[SparePartReceipts] ([ReceiptID])
GO
ALTER TABLE [dbo].[SparePartReceiptDetails] CHECK CONSTRAINT [FK_Rd_Receipt]
GO
ALTER TABLE [dbo].[SparePartReceiptDetails]  WITH CHECK ADD  CONSTRAINT [FK_Rd_Request] FOREIGN KEY([RequestID])
REFERENCES [dbo].[SparePartRequests] ([RequestID])
GO
ALTER TABLE [dbo].[SparePartReceiptDetails] CHECK CONSTRAINT [FK_Rd_Request]
GO
ALTER TABLE [dbo].[SparePartReceiptDetails]  WITH CHECK ADD  CONSTRAINT [FK_Rd_Spare] FOREIGN KEY([SpareID])
REFERENCES [dbo].[SparePartStocks] ([SpareID])
GO
ALTER TABLE [dbo].[SparePartReceiptDetails] CHECK CONSTRAINT [FK_Rd_Spare]
GO
ALTER TABLE [dbo].[SparePartRequests]  WITH CHECK ADD  CONSTRAINT [FK_Req_Spare] FOREIGN KEY([SpareID])
REFERENCES [dbo].[SparePartStocks] ([SpareID])
GO
ALTER TABLE [dbo].[SparePartRequests] CHECK CONSTRAINT [FK_Req_Spare]
GO
ALTER TABLE [dbo].[SparePartUse]  WITH CHECK ADD  CONSTRAINT [FK_Use_Request] FOREIGN KEY([RequestID])
REFERENCES [dbo].[SparePartRequests] ([RequestID])
GO
ALTER TABLE [dbo].[SparePartUse] CHECK CONSTRAINT [FK_Use_Request]
GO
ALTER TABLE [dbo].[SparePartUse]  WITH CHECK ADD  CONSTRAINT [FK_Use_Spare] FOREIGN KEY([SpareID])
REFERENCES [dbo].[SparePartStocks] ([SpareID])
GO
ALTER TABLE [dbo].[SparePartUse] CHECK CONSTRAINT [FK_Use_Spare]
GO
/****** Object:  StoredProcedure [dbo].[sp_AutoDistributeReceipt]    Script Date: 17/10/2025 09:43:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==================== STORED PROCEDURE ====================

CREATE PROCEDURE [dbo].[sp_AutoDistributeReceipt]
    @SpareID INT,
    @ReceivedQty INT,
    @CreatedBy NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Remaining INT = @ReceivedQty;
    DECLARE @ReceiptID INT;

    INSERT INTO SparePartReceipts ( TotalQty, Remark)
    VALUES (  @ReceivedQty, N'Tự động chia phiếu');
    SET @ReceiptID = SCOPE_IDENTITY();

    DECLARE cur CURSOR FOR
        SELECT RequestID, QtyRequested,
               ISNULL((SELECT SUM(QtyReceived) FROM SparePartReceiptDetails d WHERE d.RequestID = r.RequestID), 0) AS QtyAlreadyReceived
        FROM SparePartRequests r
        WHERE SpareID = @SpareID AND Status IN ('WaitingReceipt','PartlyReceived')
        ORDER BY RequestDate, RequestID;

    DECLARE @ReqID INT, @QtyReq INT, @QtyGot INT, @ToReceive INT;

    OPEN cur;
    FETCH NEXT FROM cur INTO @ReqID, @QtyReq, @QtyGot;

    WHILE @@FETCH_STATUS = 0 AND @Remaining > 0
    BEGIN
        SET @ToReceive = CASE WHEN @Remaining >= (@QtyReq - @QtyGot) THEN (@QtyReq - @QtyGot) ELSE @Remaining END;

        INSERT INTO SparePartReceiptDetails (ReceiptID, RequestID, SpareID, QtyReceived)
        VALUES (@ReceiptID, @ReqID, @SpareID, @ToReceive);

        IF (@QtyGot + @ToReceive) >= @QtyReq
            UPDATE SparePartRequests SET Status = 'Completed' WHERE RequestID = @ReqID;
        ELSE
            UPDATE SparePartRequests SET Status = 'PartlyReceived' WHERE RequestID = @ReqID;

        INSERT INTO SparePartTransactions (SpareID, Type, Qty, RelatedID, CreatedBy)
        VALUES (@SpareID, 'Receipt', @ToReceive, @ReceiptID, @CreatedBy);

        SET @Remaining = @Remaining - @ToReceive;

        FETCH NEXT FROM cur INTO @ReqID, @QtyReq, @QtyGot;
    END

    CLOSE cur;
    DEALLOCATE cur;

    -- Update stock with the total received quantity
    UPDATE SparePartStocks
    SET CurrentQty = CurrentQty + @ReceivedQty
    WHERE SpareID = @SpareID;

    -- If any remainder (no pending requests), it stays in stock and logged by the above update & transaction
END;

GO
