USE [data_motor]
GO
/****** Object:  Table [dbo].[bangtam]    Script Date: 2025/04/22 14:52:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bangtam](
	[int] [int] IDENTITY(1,1) NOT NULL,
	[model] [nvarchar](50) NULL,
	[line] [int] NULL,
	[so_tray] [int] NULL,
	[sl_on_box] [int] NULL,
	[status] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[data_casemark]    Script Date: 2025/04/22 14:52:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[data_casemark](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[model] [nvarchar](50) NULL,
	[line] [nvarchar](50) NULL,
	[casemark] [nvarchar](300) NULL,
	[datetime] [nvarchar](50) NULL,
	[status] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[data_input]    Script Date: 2025/04/22 14:52:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[data_input](
	[int] [int] IDENTITY(1,1) NOT NULL,
	[model] [nvarchar](50) NULL,
	[line] [nvarchar](50) NULL,
	[sl_tray] [int] NULL,
	[sl_on_tray] [int] NULL,
	[date] [date] NULL,
	[time] [time](7) NULL,
	[check_assy] [nvarchar](50) NULL,
	[check_qa] [nvarchar](50) NULL,
	[confirm_assy] [nvarchar](50) NULL,
	[status] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[master_model]    Script Date: 2025/04/22 14:52:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[master_model](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[model] [nvarchar](50) NULL,
	[line] [nvarchar](50) NULL,
	[sl_tray] [int] NULL,
	[sl_on_tray] [int] NULL,
	[sl_on_box] [int] NULL,
	[program_no] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 2025/04/22 14:52:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[macode] [nvarchar](50) NULL,
	[username] [nvarchar](50) NULL,
	[dept] [nvarchar](50) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[bangtam] ON 

INSERT [dbo].[bangtam] ([int], [model], [line], [so_tray], [sl_on_box], [status]) VALUES (2, N'A', 1, 0, 0, N'OK')
INSERT [dbo].[bangtam] ([int], [model], [line], [so_tray], [sl_on_box], [status]) VALUES (3, N'B', 2, 3, 300, N'pending')
INSERT [dbo].[bangtam] ([int], [model], [line], [so_tray], [sl_on_box], [status]) VALUES (4, N'cA', 1, 2, 4, N'pending')
SET IDENTITY_INSERT [dbo].[bangtam] OFF
GO
SET IDENTITY_INSERT [dbo].[data_casemark] ON 

INSERT [dbo].[data_casemark] ([id], [model], [line], [casemark], [datetime], [status]) VALUES (1, N'a', N'1', N'1', N'1', N'1')
INSERT [dbo].[data_casemark] ([id], [model], [line], [casemark], [datetime], [status]) VALUES (2, N'A', N'1', N'A;1;2;System.Windows.Forms.Label, Text: 1;20250421;11:45:34;21314;3523;hdfhds;A/System.Windows.Forms.ComboBox, Items.Count: 1/2/20250421/2/System.Windows.Forms.Label, Text: 1/', N'250421 11:46:17', N'in le')
INSERT [dbo].[data_casemark] ([id], [model], [line], [casemark], [datetime], [status]) VALUES (3, N'B', N'2', N'B;2;3;System.Windows.Forms.Label, Text: 0;20250421;11:51:22;tết;3523;hdfhds;B/System.Windows.Forms.ComboBox, Items.Count: 2/3/20250421/3/System.Windows.Forms.Label, Text: 0/', N'250421 11:51:29', N'in le')
SET IDENTITY_INSERT [dbo].[data_casemark] OFF
GO
SET IDENTITY_INSERT [dbo].[data_input] ON 

INSERT [dbo].[data_input] ([int], [model], [line], [sl_tray], [sl_on_tray], [date], [time], [check_assy], [check_qa], [confirm_assy], [status]) VALUES (15, N'A', N'1', 1, 100, CAST(N'2025-04-18' AS Date), CAST(N'16:09:19' AS Time), N'21314', N'3523', N'hdfhds', N'nhập tay')
INSERT [dbo].[data_input] ([int], [model], [line], [sl_tray], [sl_on_tray], [date], [time], [check_assy], [check_qa], [confirm_assy], [status]) VALUES (16, N'A', N'1', 2, 100, CAST(N'2025-04-18' AS Date), CAST(N'16:09:23' AS Time), N'21314', N'3523', N'hdfhds', N'nhập tay')
INSERT [dbo].[data_input] ([int], [model], [line], [sl_tray], [sl_on_tray], [date], [time], [check_assy], [check_qa], [confirm_assy], [status]) VALUES (17, N'A', N'1', 3, 100, CAST(N'2025-04-18' AS Date), CAST(N'16:09:27' AS Time), N'21314', N'3523', N'hdfhds', N'nhập tay')
SET IDENTITY_INSERT [dbo].[data_input] OFF
GO
SET IDENTITY_INSERT [dbo].[master_model] ON 

INSERT [dbo].[master_model] ([id], [model], [line], [sl_tray], [sl_on_tray], [sl_on_box], [program_no]) VALUES (1, N'A', N'1', 6, 100, 600, 0)
INSERT [dbo].[master_model] ([id], [model], [line], [sl_tray], [sl_on_tray], [sl_on_box], [program_no]) VALUES (2, N'B', N'1,2', 5, 100, 500, 0)
INSERT [dbo].[master_model] ([id], [model], [line], [sl_tray], [sl_on_tray], [sl_on_box], [program_no]) VALUES (3, N'C', N'3', 6, 60, 360, 1)
SET IDENTITY_INSERT [dbo].[master_model] OFF
GO
/****** Object:  Trigger [dbo].[trg_bangtam_Insert]    Script Date: 2025/04/22 14:52:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_bangtam_Insert]
ON [data_motor].[dbo].[bangtam]
INSTEAD OF INSERT
AS
BEGIN
    SET NOCOUNT ON;

    -- Cập nhật các dòng đã tồn tại (trùng model và line)
    UPDATE b
    SET 
        b.so_tray = b.so_tray + 1,
        b.sl_on_box = b.sl_on_box + i.sl_on_box,
		b.status=i.status
    FROM [data_motor].[dbo].[bangtam] b
    INNER JOIN inserted i
        ON b.model = i.model AND b.line = i.line;

    -- Chèn mới những dòng chưa có (không trùng model + line)
    INSERT INTO [data_motor].[dbo].[bangtam] ([model], [line], [so_tray], [sl_on_box], [status])
    SELECT i.model, i.line, i.so_tray, i.sl_on_box, i.status
    FROM inserted i
    LEFT JOIN [data_motor].[dbo].[bangtam] b
        ON b.model = i.model AND b.line = i.line
    WHERE b.model IS NULL AND b.line IS NULL;
END
GO
ALTER TABLE [dbo].[bangtam] ENABLE TRIGGER [trg_bangtam_Insert]
GO
