
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>PDE Jig System control - Login</title>
    <!-- Simple bar CSS -->
    <link rel="stylesheet" href="~/css/simplebar.css">
    <!-- Fonts CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="~/css/feather.css">
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="~/css/daterangepicker.css">
    <!-- App CSS -->
    <link rel="stylesheet" href="~/css/app-light.css" id="darkTheme">
    <link rel="stylesheet" href="~/css/app-dark.css" id="lightTheme" disabled>
</head>
<body class="light">

    <div class="row">
        <div class="col-md-4 mb-4">

            <form method="post" action="/Info/getinfo" class="col-lg-3 col-md-4 col-10 mx-auto text-center">

                <h1 class="h6 mb-12">ig Management System</h1>

                <!-- Username -->
                <div class="form-group">
                    <label for="username" class="sr-only">Mã Jig</label>
                    <input type="text" id="username" name="majig"
                           class="form-control form-control-lg"
                           placeholder="Nhập mã Jig" required autofocus>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Tìm Kiếm</button>


                @if (ViewBag.Error != null)
                {
                    <div class="alert alert-danger mt-3">@ViewBag.Error</div>
                }
            </form>

        </div>

        <div class="col-md-8 mb-8">
            <div class="card shadow">
                <div class="card-body">
                    <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Document</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. </div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
</body>

</html>
